# Android / Gradle
.gradle/
build/
.cxx/
.externalNativeBuild/

# Local config
local.properties

# IDE (Android Studio)
.idea/
*.iml

# OS files
.DS_Store

# Logs & temp
*.log

# Capture folder
captures/

# JSON
# We want to keep google-services.json but can ignore others if needed
!google-services.json
